.u-section-1 .u-sheet-1 {min-height: 1080px}
.u-section-1 .u-btn-1 {border-style: none; letter-spacing: 1px; font-weight: 900; margin: 20px 20px 0 auto; padding: 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: -13px auto 0 20px}
.u-section-1 .u-tabs-1 {min-height: 894px; margin: 32px auto 60px 0}
.u-section-1 .u-tab-link-1 {font-size: 1.125rem; background-image: none; font-weight: 400; padding: 10px 25px}
.u-section-1 .u-tab-link-2 {font-size: 1.125rem; background-image: none; font-weight: 400; padding: 10px 25px}
.u-section-1 .u-tab-link-3 {font-size: 1.125rem; background-image: none; font-weight: 400; padding: 10px 25px}
.u-section-1 .u-tab-pane-1 {background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-2 {line-height: 1.8; margin: 20px 51px 0 62px}
.u-section-1 .u-image-1 {width: 540px; height: 405px; margin: 20px auto 0}
.u-section-1 .u-btn-2 {text-transform: uppercase; font-size: 0.875rem; background-image: none; border-style: none; margin: 35px auto 0 468px}
.u-section-1 .u-tab-pane-2 {background-image: none}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-3 {line-height: 1.8; margin: 40px auto 0}
.u-section-1 .u-image-2 {width: 300px; height: 250px; margin: 60px auto 0 163px}
.u-section-1 .u-image-3 {width: 300px; height: 250px; margin: -250px 166px 0 auto}
.u-section-1 .u-btn-3 {text-transform: uppercase; font-size: 0.75rem; background-image: none; border-style: none; margin: -48px 251px 0 auto}
.u-section-1 .u-btn-4 {text-transform: uppercase; font-size: 0.875rem; background-image: none; border-style: none; margin: -50px auto 0 241px}
.u-section-1 .u-tab-pane-3 {background-image: none}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-4 {width: 620px; margin: 122px auto 0}
.u-section-1 .u-btn-5 {border-style: none; text-transform: uppercase; background-image: none; margin: 239px auto 0 424px} 

@media (max-width: 1199px){ .u-section-1 .u-btn-1 {width: 41px; margin-right: 0}
.u-section-1 .u-text-1 {width: 410px}
.u-section-1 .u-tabs-1 {height: auto; margin-bottom: 43px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-2 {margin-left: 268px}
.u-section-1 .u-btn-3 {margin-right: 51px}
.u-section-1 .u-btn-4 {margin-left: 41px}
.u-section-1 .u-btn-5 {margin-left: 224px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 15px}
.u-section-1 .u-btn-2 {margin-left: 48px}
.u-section-1 .u-btn-3 {margin-right: 0}
.u-section-1 .u-btn-4 {margin-left: 0}
.u-section-1 .u-btn-5 {margin-left: 4px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 11px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {width: 520px; height: 390px}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-4 {width: 520px}
.u-section-1 .u-btn-5 {margin-left: 0} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-left: 7px}
.u-section-1 .u-image-1 {width: 320px; height: 240px}
.u-section-1 .u-image-2 {margin-left: 20px}
.u-section-1 .u-image-3 {margin-right: 20px}
.u-section-1 .u-text-4 {width: 320px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 174px auto 0}
.u-section-2 .u-text-1 {margin: 12px auto 60px 398px} 

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-left: 251px} }