.u-section-1 .u-sheet-1 {min-height: 1080px}
.u-section-1 .u-text-1 {text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 239px auto 0 102px}
.u-section-1 .u-icon-1 {height: 48px; width: 48px; background-image: none; margin: -39px auto 0 37px}
.u-section-1 .u-text-2 {font-size: 2.25rem; font-weight: normal; margin: 27px 17px 0 31px}
.u-section-1 .u-text-3 {margin: 84px auto 0 425px}
.u-section-1 .u-text-4 {margin: -30px auto 0 31px}
.u-section-1 .u-text-5 {margin: -30px 29px 0 auto}
.u-section-1 .u-text-6 {margin: 7px auto 0 31px}
.u-section-1 .u-text-7 {margin: -30px 217px 0 auto}
.u-section-1 .u-text-8 {margin: -30px auto 0 220px}
.u-section-1 .u-text-9 {margin: -30px 28px 0 auto}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; font-size: 1rem; background-image: none; margin: 104px 470px 60px auto; padding: 13px 27px 14px 25px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 583px}
.u-section-1 .u-icon-1 {margin-top: 10px}
.u-section-1 .u-text-2 {margin-top: -26px; margin-right: auto; margin-left: 125px}
.u-section-1 .u-btn-1 {margin-right: 270px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 533px}
.u-section-1 .u-icon-1 {margin-top: 182px}
.u-section-1 .u-text-2 {margin-top: -198px}
.u-section-1 .u-btn-1 {margin-right: 50px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 400px}
.u-section-1 .u-icon-1 {margin-top: 440px}
.u-section-1 .u-text-2 {margin-top: -456px}
.u-section-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 547px}
.u-section-1 .u-icon-1 {margin-top: 1386px}
.u-section-1 .u-text-2 {margin-top: -1402px}
.u-section-1 .u-text-3 {margin-left: 268px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 1080px}
.u-section-2 .u-shape-1 {width: 240px; height: 229px; margin: 183px auto 0 67px}
.u-section-2 .u-text-1 {font-weight: 900; font-size: 3.75rem; margin: -160px auto 0 224px}
.u-section-2 .u-text-2 {margin: 28px 67px 0 142px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: -468px auto 0 141px}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; margin: 516px auto 60px; padding: 7px 26px 8px 25px} 

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 3rem} }.u-section-3 .u-sheet-1 {min-height: 1092px}
.u-section-3 .u-shape-1 {width: 250px; height: 250px; margin: 35px 123px 0 auto}
.u-section-3 .u-group-1 {width: 956px; min-height: 88px; margin: -226px 86px 0 auto}
.u-section-3 .u-container-layout-1 {padding: 12px 30px 11px}
.u-section-3 .u-list-1 {min-height: 764px; grid-template-columns: 100%; grid-template-rows: auto auto; grid-gap: 0 0; width: 883px; margin: 0 107px 0 auto}
.u-section-3 .u-container-layout-2 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-1 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-2 {margin: 20px 0 0}
.u-section-3 .u-container-layout-3 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-3 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-4 {margin: 20px 0 0}
.u-section-3 .u-list-item-3 {background-image: none}
.u-section-3 .u-container-layout-4 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-5 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-6 {margin: 20px 0 0}
.u-section-3 .u-container-layout-5 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-7 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-8 {margin: 20px 0 0}
.u-section-3 .u-container-layout-6 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-9 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-10 {margin: 20px 0 0}
.u-section-3 .u-container-layout-6 {padding: 0 30px 20px 45px}
.u-section-3 .u-text-9 {font-size: 1.5625rem; font-weight: 700; margin: 7px 322px 0 0}
.u-section-3 .u-text-10 {margin: 20px 0 0}
.u-section-3 .u-text-13 {font-size: 4.0625rem; font-weight: bold; margin: -864px 104px 0 147px}
.u-section-3 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.9375rem; background-image: none; margin: 833px auto 60px 515px; padding: 7px 26px 8px 25px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 682px}
.u-section-3 .u-shape-1 {margin-top: 1423px; margin-right: auto; margin-left: 0}
.u-section-3 .u-group-1 {width: 940px; min-height: 175px; margin-top: -2479px; margin-right: 0}
.u-section-3 .u-list-1 {grid-template-columns: 33.3333% 33.3333% 33.3333%; height: auto; margin-top: -530px; margin-right: 57px}
.u-section-3 .u-text-13 {font-size: 2.25rem; margin-top: -686px; margin-right: 116px; margin-left: 127px}
.u-section-3 .u-btn-1 {margin-top: 684px; margin-bottom: 43px; margin-left: 315px} }

@media (max-width: 991px){ .u-section-3 {min-height: 955px}
.u-section-3 .u-shape-1 {margin-top: 1826px}
.u-section-3 .u-group-1 {width: 720px; margin-top: -3276px}
.u-section-3 .u-list-1 {grid-template-columns: 50% 50%; width: 720px; margin-top: -989px; margin-right: 0}
.u-section-3 .u-container-layout-2 {padding-left: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px}
.u-section-3 .u-container-layout-4 {padding-left: 30px}
.u-section-3 .u-container-layout-5 {padding-left: 30px}
.u-section-3 .u-container-layout-6 {padding-left: 30px}
.u-section-3 .u-container-layout-6 {padding-left: 30px}
.u-section-3 .u-text-13 {margin-top: -1116px}
.u-section-3 .u-btn-1 {margin-top: 1078px; margin-bottom: 60px; margin-left: 95px} }

@media (max-width: 767px){ .u-section-3 .u-shape-1 {margin-top: 1901px}
.u-section-3 .u-group-1 {width: 540px; margin-top: -3426px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-list-1 {width: 540px; margin-top: -1252px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-13 {font-size: 4.0625rem; margin-top: -1379px}
.u-section-3 .u-btn-1 {margin-top: 1153px; margin-left: 0} }

@media (max-width: 575px){ .u-section-3 .u-shape-1 {margin-top: 1215px; margin-right: 90px}
.u-section-3 .u-group-1 {width: 340px; margin-top: -2053px}
.u-section-3 .u-list-1 {grid-template-columns: 100%; width: 340px; margin-top: -720px}
.u-section-3 .u-text-1 {margin-right: 122px}
.u-section-3 .u-text-3 {margin-right: 122px}
.u-section-3 .u-text-5 {margin-right: 122px}
.u-section-3 .u-text-7 {margin-right: 122px}
.u-section-3 .u-text-9 {margin-right: 122px}
.u-section-3 .u-text-9 {margin-right: 122px}
.u-section-3 .u-text-13 {font-size: 3rem; margin-top: -1008px}
.u-section-3 .u-btn-1 {margin-top: 610px} }.u-section-4 .u-sheet-1 {min-height: 1080px}
.u-section-4 .u-shape-1 {width: 503px; height: 567px; background-image: none; margin: 185px 56px 0 auto}
.u-section-4 .u-layout-wrap-1 {width: 467px; margin: -531px auto 0 56px}
.u-section-4 .u-layout-cell-1 {min-height: 494px}
.u-section-4 .u-container-layout-1 {padding: 7px 30px 0}
.u-section-4 .u-shape-2 {width: 250px; height: 188px; margin: 249px auto 0 45px}
.u-section-4 .u-text-1 {font-weight: 900; margin: -403px 19px 0}
.u-section-4 .u-icon-1 {height: 159px; width: 159px; margin: 0 52px 0 auto}
.u-section-4 .u-text-2 {margin: -410px 85px 0 607px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: -475px 276px 0 auto}
.u-section-4 .u-btn-1 {border-style: none; background-image: none; margin: 563px auto 0 507px; padding: 11px 18px 12px}
.u-section-4 .u-btn-2 {border-style: none; background-image: none; margin: -49px 507px 60px auto; padding: 11px 18px 12px} 

@media (max-width: 1199px){ .u-section-4 .u-shape-1 {margin-top: 1054px}
.u-section-4 .u-layout-wrap-1 {margin-top: -595px}
.u-section-4 .u-shape-2 {width: 174px; margin-top: 184px; margin-left: 0}
.u-section-4 .u-text-1 {margin-top: -430px}
.u-section-4 .u-icon-1 {margin: 336px auto -120px 478px}
.u-section-4 .u-text-2 {margin-top: -1049px}
.u-section-4 .u-icon-2 {margin-top: 108px}
.u-section-4 .u-btn-1 {margin-left: 307px}
.u-section-4 .u-btn-2 {margin-right: 307px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 686px}
.u-section-4 .u-shape-1 {margin-top: 13656px}
.u-section-4 .u-layout-wrap-1 {margin-top: -13795px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-icon-2 {margin-top: 58px}
.u-section-4 .u-btn-1 {margin-left: 87px}
.u-section-4 .u-btn-2 {margin-right: 87px} }

@media (max-width: 767px){ .u-section-4 .u-shape-1 {margin-top: 1007px; margin-right: 37px}
.u-section-4 .u-layout-wrap-1 {margin-top: -1146px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-shape-2 {margin-top: 120px}
.u-section-4 .u-text-1 {margin-top: -366px}
.u-section-4 .u-icon-1 {margin-top: 311px; margin-left: 424px}
.u-section-4 .u-text-2 {margin-right: 0; margin-left: 407px}
.u-section-4 .u-icon-2 {margin-top: 23px}
.u-section-4 .u-btn-1 {margin-left: 0}
.u-section-4 .u-btn-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {width: 340px; margin-top: 1994px; margin-right: 0}
.u-section-4 .u-layout-wrap-1 {width: 340px; margin-top: -2081px; margin-left: 0}
.u-section-4 .u-shape-2 {margin-top: 103px}
.u-section-4 .u-text-1 {margin-top: -349px}
.u-section-4 .u-icon-1 {margin-top: 336px; margin-left: 224px}
.u-section-4 .u-text-2 {margin-top: -1055px; margin-left: 256px}
.u-section-4 .u-icon-2 {margin-top: -50px} }