.u-section-1 .u-sheet-1 {min-height: 778px}
.u-section-1 .u-text-1 {text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 187px auto 0 102px}
.u-section-1 .u-icon-1 {height: 54px; width: 54px; margin: -39px auto 0 31px}
.u-section-1 .u-text-2 {font-size: 2.25rem; font-weight: normal; margin: 11px 17px 60px 31px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 583px}
.u-section-1 .u-icon-1 {margin-top: 10px}
.u-section-1 .u-text-2 {margin: -26px auto 0 125px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 533px}
.u-section-1 .u-icon-1 {margin-top: 182px}
.u-section-1 .u-text-2 {margin-top: -198px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 400px}
.u-section-1 .u-icon-1 {margin-top: 440px}
.u-section-1 .u-text-2 {margin-top: -456px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 547px}
.u-section-1 .u-icon-1 {margin-top: 1386px}
.u-section-1 .u-text-2 {margin-top: -1402px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 678px}
.u-section-2 .u-shape-1 {width: 240px; height: 229px; margin: 34px auto 0 29px}
.u-section-2 .u-text-1 {font-weight: 900; font-size: 3.75rem; margin: -160px auto 0 186px}
.u-section-2 .u-text-2 {margin: 17px 104px 0}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: -456px auto 60px 103px} 

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 3rem} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 550px}
.u-section-3 .u-shape-1 {width: 225px; height: 218px; margin: 50px 57px 0 auto}
.u-section-3 .u-text-1 {font-weight: 900; font-size: 3.75rem; margin: -209px 201px 0 auto}
.u-section-3 .u-icon-1 {height: 68px; width: 68px; background-image: none; margin: -75px 122px 0 auto}
.u-section-3 .u-text-2 {font-weight: 500; margin: 34px 122px 60px 108px} 

@media (max-width: 575px){ .u-section-3 .u-text-1 {font-size: 3rem} }.u-section-4 .u-sheet-1 {min-height: 722px}
.u-section-4 .u-group-1 {width: 733px; min-height: 104px; margin: 28px auto 0 204px}
.u-section-4 .u-container-layout-1 {padding: 30px 30px 25px}
.u-section-4 .u-text-1 {font-size: 3rem; font-weight: bold; margin: 0}
.u-section-4 .u-list-1 {min-height: 438px; grid-template-columns: 33.3333% 33.3333% 33.3333%; grid-template-rows: auto auto; grid-gap: 0 0; width: 1140px; margin: 27px auto 60px 0}
.u-section-4 .u-container-layout-2 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-2 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-3 {margin: 20px 0 0}
.u-section-4 .u-container-layout-3 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-4 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-5 {margin: 20px 0 0}
.u-section-4 .u-list-item-3 {background-image: none}
.u-section-4 .u-container-layout-4 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-6 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-7 {margin: 20px 0 0}
.u-section-4 .u-container-layout-5 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-8 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-9 {margin: 20px 0 0}
.u-section-4 .u-container-layout-6 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-10 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-11 {margin: 20px 0 0}
.u-section-4 .u-container-layout-7 {padding: 0 30px 55px 45px}
.u-section-4 .u-text-12 {font-size: 1.5625rem; font-weight: 700; margin: 38px 0 0}
.u-section-4 .u-text-13 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 682px}
.u-section-4 .u-sheet-1 {min-height: 762px}
.u-section-4 .u-group-1 {margin-top: -81px}
.u-section-4 .u-text-1 {font-size: 2.25rem}
.u-section-4 .u-list-1 {min-height: 361px; height: auto; width: 940px; margin-top: -32px} }

@media (max-width: 991px){ .u-section-4 {min-height: 955px}
.u-section-4 .u-group-1 {width: 720px; margin-left: 0}
.u-section-4 .u-list-1 {min-height: 622px; grid-template-columns: 50% 50%; width: 720px}
.u-section-4 .u-container-layout-2 {padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-container-layout-3 {padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-container-layout-4 {padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-container-layout-5 {padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-container-layout-6 {padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-container-layout-7 {padding-bottom: 30px; padding-left: 30px} }

@media (max-width: 767px){ .u-section-4 .u-group-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {font-size: 3rem}
.u-section-4 .u-list-1 {width: 540px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-7 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-group-1 {width: 340px}
.u-section-4 .u-list-1 {grid-template-columns: 100%; width: 340px; margin-bottom: 0} }.u-section-5 .u-sheet-1 {min-height: 827px}
.u-section-5 .u-layout-wrap-1 {width: 467px; margin: 73px auto 0 45px}
.u-section-5 .u-layout-cell-1 {min-height: 494px}
.u-section-5 .u-container-layout-1 {padding: 7px 30px 0}
.u-section-5 .u-shape-1 {width: 250px; height: 188px; margin: 249px auto 0 45px}
.u-section-5 .u-text-1 {font-weight: 900; margin: -403px 19px 0}
.u-section-5 .u-icon-1 {height: 159px; width: 159px; margin: 0 52px 0 auto}
.u-section-5 .u-text-2 {margin: -445px 74px 0 618px}
.u-section-5 .u-text-3 {margin: 67px 488px 0 437px}
.u-section-5 .u-text-4 {margin: -30px auto 0 55px}
.u-section-5 .u-text-5 {margin: -30px 57px 0 auto}
.u-section-5 .u-text-6 {margin: 7px auto 0 55px}
.u-section-5 .u-text-7 {margin: -30px 247px 0 auto}
.u-section-5 .u-text-8 {margin: -30px auto 0 242px}
.u-section-5 .u-text-9 {margin: -30px 58px 0 auto}
.u-section-5 .u-line-1 {width: 1027px; height: 3px; transform-origin: right center 0; margin: 58px auto 60px 57px} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {margin-top: 507px}
.u-section-5 .u-shape-1 {width: 174px; margin-top: 184px; margin-left: 0}
.u-section-5 .u-text-1 {margin-top: -430px}
.u-section-5 .u-icon-1 {margin: 336px auto -120px 478px}
.u-section-5 .u-text-2 {margin-top: -1049px}
.u-section-5 .u-text-3 {width: 216px; margin-top: 701px; margin-left: 462px; margin-right: 462px}
.u-section-5 .u-text-4 {margin-top: -111px}
.u-section-5 .u-text-6 {margin-top: -182px}
.u-section-5 .u-text-7 {margin-top: 30px}
.u-section-5 .u-text-8 {margin-top: 115px}
.u-section-5 .u-text-9 {margin-top: -46px}
.u-section-5 .u-line-1 {width: 940px; margin-left: 0; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 433px}
.u-section-5 .u-layout-wrap-1 {margin-top: -91px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-text-3 {margin-top: 788px; margin-left: 352px; margin-right: 352px}
.u-section-5 .u-text-4 {margin-top: -248px}
.u-section-5 .u-text-6 {margin-top: -45px}
.u-section-5 .u-text-8 {margin-top: -22px}
.u-section-5 .u-line-1 {width: 720px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-shape-1 {margin-top: 120px}
.u-section-5 .u-text-1 {margin-top: -366px}
.u-section-5 .u-icon-1 {margin-top: 311px; margin-left: 424px}
.u-section-5 .u-text-2 {margin-right: 0; margin-left: 407px}
.u-section-5 .u-text-3 {margin-top: 810px; margin-left: 262px; margin-right: 262px}
.u-section-5 .u-text-4 {margin-top: -312px}
.u-section-5 .u-text-6 {margin-top: 19px}
.u-section-5 .u-text-8 {margin-top: -86px}
.u-section-5 .u-line-1 {width: 540px} }

@media (max-width: 575px){ .u-section-5 .u-layout-wrap-1 {width: 340px; margin-top: -39px; margin-left: 0}
.u-section-5 .u-shape-1 {margin-top: 103px}
.u-section-5 .u-text-1 {margin-top: -349px}
.u-section-5 .u-icon-1 {margin-top: 336px; margin-left: 224px}
.u-section-5 .u-text-2 {margin-top: -1055px; margin-left: 256px}
.u-section-5 .u-text-3 {margin-top: 677px; margin-left: 162px; margin-right: 162px}
.u-section-5 .u-text-4 {margin-top: -277px}
.u-section-5 .u-text-5 {margin-top: -35px}
.u-section-5 .u-text-6 {margin-top: 67px}
.u-section-5 .u-text-7 {margin-top: -13px}
.u-section-5 .u-text-8 {margin-top: -73px}
.u-section-5 .u-text-9 {margin-top: -40px}
.u-section-5 .u-line-1 {width: 340px} }